<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.americanquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionOneActivity"
            android:label="@string/title_activity_question_one" />
        <activity
            android:name=".QuestionTwoActivity"
            android:label="@string/title_activity_question_two" />
        <activity
            android:name=".QuestionThreeActivity"
            android:label="@string/title_activity_question_three" />
        <activity
            android:name=".QuestionFourActivity"
            android:label="@string/title_activity_question_four" />
        <activity
            android:name=".QuestionFiveActivity"
            android:label="@string/title_activity_question_five" />
        <activity
            android:name=".FinishActivity"
            android:label="@string/title_activity_finish" />
    </application>

</manifest>